getgenv().functions = {

    getRoot = function(plr)
        plr = plr or game.Players.LocalPlayer
        local sucess, root = pcall(function()
            return plr.Character.HumanoidRootPart or false
        end)
        return root
    end,

    getHumanoid = function(plr)
        plr = plr or game.Players.LocalPlayer
        local sucess, humanoid = pcall(function()
            return plr.Character.Humanoid or false
        end)
        return humanoid
    end,

    getCharacter = function(plr)
        plr = plr or game.Players.LocalPlayer
        local sucess, char = pcall(function()
            return plr.Character or false
        end)
        return char
    end,

    FindPlayer = function(playerName)
        local target = false 

        for i,v in pairs(game.Players:GetChildren()) do
            if v.Name:lower():match(playerName:lower()) or v.DisplayName:lower():match(playerName:lower()) then
                target = v
            end
        end

        return target
    end,

    getNearest = function(teamcheck)
        local nearest = 9e9
        local target

        for i,v in pairs(game.Players:GetChildren()) do

            if game.Players.LocalPlayer ~= v then

                pcall(function()
            
                    if ((teamcheck == true and v.TeamColor ~= game.Players.LocalPlayer.TeamColor) or teamcheck == false) then

                        local mag = (v.Character.Head.Position - game.Players.LocalPlayer.Character.Head.Position).Magnitude

                        if mag < nearest then
                            nearest = mag
                            target = v 
                        end
                    end
    
                end)

            end

        end

        return target 
    end,
    
    getNearestToMouse = function(teamcheck)
        local nearest = 9e9
        local target

        for i,v in pairs(game.Players:GetChildren()) do

            if v ~= game.Players.LocalPlayer then

                pcall(function()
            
                    if ((teamcheck == true and v.TeamColor ~= game.Players.LocalPlayer.TeamColor) or teamcheck == false) then

                        local vector, onscreen = workspace.CurrentCamera:worldToViewportPoint(v.Character.Head.Position)

                        if onscreen then

                            local mag = (game:GetService("UserInputService"):GetMouseLocation() - Vector3.new(vector.X, vector.Y)).Magnitude

                            if mag < nearest then

                                nearest = mag
                                target = v

                            end

                        end

                    end
    
                end)

            end

        end

        

        return target
    end,

    sendWebHook = function(tab, webhook)
        local req = (syn and syn.request) or request or http_request 

        req(
            {
                Url = webhook;
                Method = "POST";
                Headers = {
                    ["Content-Type"] = "application/json"
                };
                Body = game:GetService("HttpService"):JSONEncode(tab)
            }
        )
    end,

    sendNotification = function(title, text, duration)
        game:GetService("StarterGui"):SetCore("SendNotification", {
            Title = title;
            Text = text;
            Duration = duration;
        })
    end,

    Translate = function(num)
        function round(num, numDecimalPlaces)
            local mult = 10^(numDecimalPlaces or 0)
            return math.floor(num * mult + 0.5) / mult
        end
                
        function converttoletter(num)
            if num / 1e21 >=1 then
                newnum = num / 1e21
                return round(newnum, 6).. "Sx"
            elseif num / 1e18 >=1 then
                newnum = num / 1e18
                return round(newnum, 6).. "Qi"
            elseif num / 1e15 >=1 then
                newnum = num / 1e15
                return round(newnum, 6).. "Qa"
            elseif num / 1e12 >=1 then
                newnum = num / 1e12
                return round(newnum, 6).. "T"
            elseif num / 1e09 >=1 then
                newnum = num / 1e09
                return round(newnum, 6).. "B"
            elseif num / 1e06 >=1 then
                newnum = num / 1e06
                return round(newnum, 6).. "M"
            elseif num / 1e03 >=1 then
                newnum = num / 1e03
                return round(newnum, 6).. "K"
            else return num
            end
        end

        return converttoletter(num)
    end
}
